{
	"presets": [
    	"next/babel"
  	],
  	"plugins": [
    	"transform-decorators-legacy",
    
		["babel-plugin-styled-components", {
			"minify": true,
			"ssr": true
		}],
		["inline-import",{
			  "extensions": [".css"]
			}
		]
  	]
}